@model ProyectoPrograAvanzada.Models.Curso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdReceta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdReceta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCurso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
